@using WorkShop.Models
@model List<WorkShop.Models.Report>

@{
    ViewBag.Title = "ShowReport";
}

<br /><br /><br />
<div class="container">
    <h1>Show Report</h1>
   
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col"><h5>Order ID</h5></th>
                <th scope="col"><h5>Client Name</h5></th>
                <th scope="col"><h5>Car Model</h5></th>
                <th scope="col"><h5>Execution Starts</h5></th>
                <th scope="col"><h5>Execution Ends</h5></th>
                <th scope="col"><h5>Master Name</h5></th>
                <th scope="col"><h5>Price</h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.OrderID</td>
                    <td>@x.ClientName</td>
                    <td>@x.CarModel</td>
                    <td>@x.ExecStartDate.ToString("dd.MM.yyy")</td>
                    <td>@x.ExecEndDate.ToString("dd.MM.yyy")</td>
                    <td>@x.MasterName</td>
                    <td>@x.Price</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

